/*colors: #5E4131  #FEEAB7   #78C0A8  #F0771A   #F0A830*/
.all-available-colors {
  /*dummy class for dev purposes*/
  color: #5E4131;
  color: #FEEAB7;
  color: #78C0A8;
  color: #F0771A;
  color: #F0A830;
}


body {
  padding: 50px;
  background : #78C0A8;  
  background : rgba(120, 192, 168, 1); 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #5E4131;
}

img{
  max-width: 100%;
  height: auto;
}

.inputs {

  border: none;
  background-color: #F0771A;
  color: #FFFFFF;
}

.select {
  
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color:#FFFFFF;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer; 
  background:#F0771A url(https://cdn1.iconfinder.com/data/icons/universal-icons-set-for-web-and-mobile/100/controls_0-12-512.png) no-repeat right center; /*we gotta replace this img*/
  background-size: 40px 37px; 
}

.form-control::-moz-placeholder{
  color:#FFFFFF;opacity:1}

.form-control:-ms-input-placeholder{
  color:#FFFFFF}

.form-control::-webkit-input-placeholder{
  color:#FFFFFF}

.top-buffer{
  margin-top: 10%;
}

/*styles for login*/
.login-card {
  background-color: #FEEAB7;
  border-radius: 10px;
  padding: 3% 3% 2% 3%;
}

.transparent {
  background: transparent;
}

.btn-submit {
  padding: 2% 7%;
}

.bg-danger, .bg-success {
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 2%;
}

.btn-space {
  margin: 20% 5% 0% 5%;
}

.button_peach
{
  background : #FCEAB7;
  /* background : rgba(252, 234, 183, 1);
  border-radius : 20px;
  -moz-border-radius : 20px;
  -webkit-border-radius : 20px;*/
  
  width: 200px;
  border: none; 
}


/*styles for dash*/
.class-card {
  display: block;

  color: inherit;
  margin: 3% 0;
  padding: 5% 10%;
  vertical-align: top;
  line-height: 2em;

  border: solid 1px saddlebrown;
  border-radius: 10px;
}

.class-card:focus, .class-card:hover {
  color: white;
  text-decoration: inherit;

  background-color: saddlebrown;
  transition-duration: 0.3s;
}

@media (max-width: 480px) {

  
  }