/*colors: #5E4131  #FEEAB7   #78C0A8  #F0771A   #F0A830*/
.all-available-colors {
  /*dummy class for dev purposes*/
  color: #5E4131;
  color: #FEEAB7;
  color: #78C0A8;
  color: #F0771A;
  color: #F0A830;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/*general styles*/
.btn-outline-primary {
  border-color: #428bca;
  color: #428bca;

  transition: all .5s;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #428bca;
}


/*styles for login*/
.login-card {
  background-color: #78C0A8;
  border-radius: 10px;
  padding: 3% 3% 2% 3%;
}

.transparent {
  background: transparent;
}

.btn-submit {
  padding: 2% 7%;
}

.bg-danger, .bg-success {
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 2%;
}


/*styles for dash*/
.class-card {
  display: block;

  color: inherit;
  margin: 3% 0;
  padding: 5% 10%;
  vertical-align: top;
  line-height: 2em;

  border: solid 1px saddlebrown;
  border-radius: 10px;
}

.class-card:focus, .class-card:hover {
  color: white;
  text-decoration: inherit;

  background-color: saddlebrown;
  transition-duration: 0.3s;
}


/*styles for classroom page*/
.custom-nav {
  display: flex;
  justify-content: center;
}

.custom-nav > li > a {
  padding: 6px;
  border-radius: 0;
  width: 7em;
  text-align: center;
}

.custom-nav > li:first-child > a {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.custom-nav > li:last-child > a {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tab-pane {
  padding: 0 15px;
  margin: 15px;
}
