<nav class="navbar bg-4 ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Apprise</a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <li><a href="/dash">Dash</a></li> -->
        <li><a href="/logout">Log out</a></li>
        <li><a href="/interactions/guardian">Contact Teacher</a></li>
        <li ><a href="javascript:history.go(-1)">Back</a></li>
        
      </ul>
    </div>
  </nav>