<header class="container">
  <p class="text-right">
    <a class="btn btn-outline-primary btn-lg float-left" href="/dash">Dash</a>
    <a class="btn btn-outline-primary btn-lg float-right" href="/logout">Log out</a>
  </p>
</header>