<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body>
  <div class="container">
    <!--// add html here-->
    <h1>this is home</h1>
  </div>
  <%- include("partials/scripts") %>
  </body>
</html>