<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <img src="images/Apprise_logo_brown.png" class="img-fluid rounded mx-auto d-block img" alt="Apprise">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">            
        <a href="/login" class="btn btn-space btn-lg active button_peach button_text" role="button" aria-pressed="true">  Login  </a>                        
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">            
        <a href="#" class="btn btn-space btn-lg active button_peach button_text" role="button" aria-pressed="true">About us</a>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">            
        <a href="#" class="btn btn-space btn-lg active button_peach button_text" role="button" aria-pressed="true">Contact us</a>                        
      </div>
    </div>
  </div>

  <%- include("partials/scripts") %>
  </body>
</html>