<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%- include('partials/head') %>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  </head>
  <body>
    
     
<!-- First Container -->
<div class="container-fluid container-fluida bg-1 text-center full"> 
    <img src="images/Apprise_logo.png" class="img-responsive margin animated bounceInDown" style="display:inline" alt="Bird" width="550" height="550">
    <div class="row margin animated bounceInUp"><h3>Student monitoring system</h3></div>
    <div class="col-sm-4">
        </div>
      <div class="col-sm-4"> 
          <a href="/login" class="btn margin bigger_text animated bounceInUp" role="button" aria-pressed="true">  Login  </a>
      </div>
      <div class="col-sm-4"> 
       </div>
  </div>
  
  <!-- 2nd Container -->
  <div class="container-fluid slight_padding bg-2 text-center">    
    <h1 class="big_text">What sets us apart</h1><br>
    <div class="row margin">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1"><hr></div>
     </div>
    <div class="row">
      <div class="col-sm-4">
          <h3 class="margin">Visual representation</h3>

         <img src="images/bar_white.png" class="img-responsive margin " style="display:inline" alt="Bird" width="200" height="200" > 
        <p>When statistics are represented visually, it gives a much better understanding of what the data represents.</p>
        
      </div>
      <div class="col-sm-4"> 
          <h3 class="margin">Overall analysis</h3>

          <img src="images/gear_white.png" class="img-responsive margin " style="display:inline" alt="Bird" width="150" height="150" > 
        <p>The whole point of "analysis" is lost if the social aspect of the student is not evaluated. Everything matters.</p>
        
      </div>
      <div class="col-sm-4"> 
          <h3 class="margin">Communication</h3>
          <img src="images/com_white.png" class="img-responsive margin " style="display:inline" alt="Bird" width="155" height="155" >
        <p>Communication between teachers and parents is key as it helps each understand more about the student. </p>
        
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="container-fluid slight_padding bg-4 text-center">
    <p>APPRISE student performance monitoring </p> 
    
  </footer>

  <%- include("partials/scripts") %>
  </body>
</html>