<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <img src="images/Apprise_logo_brown.png" class="img-fluid rounded mx-auto d-block img" alt="Apprise">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">            
        <a href="/login" class="btn btn-space btn-lg active button_peach button_text" role="button" aria-pressed="true">  Login  </a>                        
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">            
        
        <button type="button" class="btn btn-space btn-lg active button_peach button_text" role="button" aria-pressed="true" data-toggle="modal" data-target="#abt">About us</button>
          <!-- Modal -->
          <div class="modal fade" id="abt" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">About us</h4>
                </div>
                <div class="modal-body">
                  <p>We believe in the fair assesment of students and all-round development. We try our best to cover all aspects of learning and provide an accurate analysis of the student.</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu massa scelerisque, feugiat ligula vel, ullamcorper sapien. Nulla accumsan dui gravida euismod ullamcorper. Aliquam vulputate eros et nulla vehicula accumsan. Ut sit amet imperdiet mi. Cras eget nisi non nunc dignissim efficitur. Pellentesque in sapien et purus accumsan sagittis. Praesent fermentum ante quam, at venenatis odio lacinia et. Donec fringilla est id nisi sollicitudin viverra. Vivamus luctus interdum sapien nec fermentum.                   
                    Proin venenatis, est a convallis porttitor, metus dui maximus ipsum, vel efficitur augue enim non nibh. Nam bibendum lacus id nunc congue consequat. Etiam at tincidunt ipsum, eget porttitor diam. Vivamus sed turpis aliquam, consequat turpis quis, mattis tortor. Nulla eget venenatis ipsum. Vestibulum ultricies fermentum sapien eget eleifend. Proin a ante non nulla ornare tincidunt. Donec pulvinar scelerisque diam, quis porta nisl posuere eget. Vivamus ornare ex enim, eget bibendum urna porta sed. Etiam tristique libero quis urna lobortis, fermentum venenatis erat imperdiet. Maecenas tristique dapibus augue, ac mattis urna feugiat ut.
                    </p> 
                    <p>We are open for suggestions. Please contact us for further queries or sugestions. </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

      </div>
      <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center;">            

          <button type="button" class="btn btn-space btn-lg active button_peach button_text" role="button" aria-pressed="true" data-toggle="modal" data-target="#cont">Contact us</button>
          <!-- Modal -->
          <div class="modal fade" id="cont" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Contact us</h4>
                </div>
                <div class="modal-body">
                  <p>We apreciate your feedback!</p>
                  <p>Email is at: something@blah.com</p>
                  <p>Call us at: 6384969670</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>

  <%- include("partials/scripts") %>
  </body>
</html>