<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%- include('partials/head') %>
  </head>
  <body>
  <div class="container">
    <h1 class="text-uppercase">students performance monitoring system</h1>
    <h2>Welcome to Home</h2>
  </div>
  <%- include("partials/scripts") %>
  </body>
</html>