<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <% if (prevAction === 'loginFail') {%>
      <div class="row">
        <div class="col-md-12 bg-danger">Login Failed! Please try again</div>
      </div>
      <% } %>
      <% if (prevAction === 'logout') {%>
      <div class="row">
        <div class="col-md-12 bg-success">Succesfully logged out</div>
      </div>
      <% } %>


      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 login-card">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
              <img src="images/Apprise_logo_brown.png" class="img-fluid rounded mx-auto d-block img" alt="Apprise">
            </div>
          </div>
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <form action="/login" method="post">
            <div class="form-group">
              <input type="text" class="form-control" id="login-id" name="userid" placeholder="Login ID" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <select name="user_type" class="form-control">
                <option value="teacher">Teacher</option>
                <option value="guardian">Guardian</option>
              </select>
            </div>
            <div class="form-group text-center">
              <input type="submit" class="btn btn-default btn-submit" value="login">
            </div>
          </form>
        </div>        
        </div>
        </div>
      </div>
    </div>

    <%- include("partials/scripts") %>
</body>
</html>